body {
  background-image: url("../img/math.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  object-fit: cover;
}

footer {
    position: fixed;
    height: 3rem;
    bottom: 0;
    width: 100%;
}
